*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.featured{
    width: 100%;
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    margin-left: 22px;
  }
  
  .featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden; 
    height: 300px;
    width: 500px;
    flex:1
  }
  
  .featuredImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}